@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Janna LT';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/JannaLT-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Janna LT';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/JannaLT-Bold.ttf') format('opentype');
}

* {
    font-family: "Janna LT", Roboto, "sans-serif";
}
html{
    direction: rtl;
    text-align: center;

}
:root {
    --primary-color: #0074FB;
    --primary-hover: #007fdB;
    --linear-bg: linear-gradient(291deg, #D6D6D6 29%, rgba(236, 236, 236, 0.00) 93.88%);
    --secondary-color: #F8F8F8;
    --text-color: #000;
    --p-color: #5F5F5F
}

.general-padding {
    @apply px-5 xs:px-10 sm:px-20 md:px-20 lg:px-40
}

.btn {
    @apply border rounded-3xl py-2 px-3 whitespace-nowrap font-medium
}

.btn-primary {
    @apply text-primary border-primary transition-colors
}

.btn-primary:hover {
    @apply bg-primary-hover text-white
}

.btn-primary-contained {
    @apply bg-primary text-white border-primary transition-colors hover:bg-primary-hover
}

.btn-secondary {
    @apply bg-secondary text-black
}
h1, h2, h3, h4, h5{
    @apply font-normal;
}
h1{
    font-size: 32px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 20px;
}
p{
    color: var(--p-color);
}

.bg-linear {
    background: var(--linear-bg);
}

/* Add these classes to your Tailwind CSS or custom CSS */
.transition-max-height {
    transition: max-height 0.5s ease-in-out;
}

.max-h-96 {
    max-height: 24rem; /* Adjust the maximum height as needed */
}
.steps li{
    @apply flex items-center justify-center;
}

.userForm{
    @apply flex flex-wrap items-center justify-center;
}

.userForm input, .userForm select{
    @apply border border-gray-300 rounded-md p-2  w-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent bg-white h-12;
}

.userForm > div{
    @apply text-start w-full sm:w-1/2 px-10 md:px-20 my-4;
}

.userForm label{
    @apply block text-gray-700 text-sm mb-2;
}
.home-features{
    @apply flex flex-col gap-10;
}

.contact-form{
    @apply flex flex-col gap-3;
}

.contact-form input, .contact-form textarea{
    @apply border border-gray-400 rounded-md p-2  w-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent shadow ;
}


/*moyasar*/

.mysr-form-button{
    background-color: var(--primary-color) !important;
}
.mysr-form-footer{
    display: none !important;
}
li{
    list-style: none;
}